private_config.sh
test.sh

result
try
try.exe
a.out

riscv_asm/*.asm
!images/compressed/.gitkeep
!images/decompressed/.gitkeep
!images/uncompressed/.gitkeep
images/compressed/*
images/decompressed/*
images/uncompressed/*

.DS_STORE
.vscode